<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
</head>
<body>
    <h1>Order List</h1>
    <ul>
        {% for order in orders %}
            <li>
                <h2>Order ID: {{ order.id }}</h2>
                <p>Customer: {{ order.customer }}</p>
                <p>Total Price: ${{ order.total_price }}</p>
                <p>Created At: {{ order.created_at }}</p>
                <!-- Tambahkan detail lainnya sesuai kebutuhan -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
